body {
	background-color: #F7F7F7;
}

.my-block {
	background-color: white;
	border: 2px solid #F0F0F0;
}

.my-line-text {
	border: none;
	border-bottom: 2px solid #DDDDDD;
	border-radius: 1%;
}

.my-line-text:focus {
	outline-width: 0;
	border-bottom-color: #0275D8; 
}

.my-error-msg {
	margin: 10px 0px 10px 0px;
	color : red;
	font-size: 15px;
}

.errorlist {
	padding: 0;
	list-style-type: none;
	color: red;
	font-size: 15px; 
}

.my-textarea {
	border-radius: 1%
	margin: 0px 5px 0px 5px;
}

.my-textarea:focus {
	background-color: #F0F0F0;
}

.clickable-words {
	color: blue;
	margin: 0px 5px 0px 5px;
}

.clickable-words:hover {
	cursor: pointer;
	text-decoration: underline;
}

button {
	margin-right: 5px;
}

#inform{
	color: #ffffff;
	width: 100%;
	padding: 20px;
	text-align: center; 
	font-size: 20px;
	height: 30px;
}
#cuewrap{
	color: #ffffff;
	width: 100%;
	padding: 20px;
	text-align: center; 
	font-size: 20px;
	height: 30px;
}
#cuewrap_text{
	color: #ffffff;
	width: 100%;
	padding: 20px;
	text-align: center; 
	font-size: 37px;
	height: 30px;	
}
#cuewrap_pinyin{
	color: #ffffff;
	width: 100%;
	padding: 20px;
	text-align: center; 
	font-size: 30px;
	height: 30px;	
}
#cue_chinese{
	color: #ffffff;
	padding: 0px;
	margin: 0px;
	text-align: center; 
	font-size: 150%;
}

.my-inline {
	display: inline-block;
	margin: 0;
}

.my-comment-area {
	border: none;
	border-bottom: 2px solid #DDDDDD;
	border-radius: 0;
	width: 100%	
}

.my-comment-area:focus {
	outline-width: 0;
	border-bottom-color: #0275D8; 
}

.comment_item {
	margin-bottom: 20px;
}

.img-btn:hover {
	cursor: pointer;
}

#comment-panel {
	border-bottom: : none;
	display: none;
}

#comment-flip {
	font-size: 20px;
	text-align: center; 
}

#comment-flip:hover {
	cursor: pointer;
}

#profileImg {
	position: relative;
	display: inline-block;
	height: 100px;
	width: 100px;
	border-radius: 50%;
	background-position: center;
	background-size: 100px 100px;
	overflow: hidden;
}

#imgInner {
	background-color: #A0A0A0;
	color: white;
	position: absolute;
	bottom: 0;
	height: 20px;
	width: 100%;
	text-align: center;
	font-size: 12px;
	display: none;
	opacity: 0.5;
}