{% load static %}
<!DOCTYPE html>
<html>
<head>
	<title>{% block head_title %}{% endblock %}</title>
	<meta charset="utf-8">
	
	<link rel="icon" href="{% static 'images/台語Song啦的icon.png' %}">
	<!-- import bootstrap -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
	<script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>
	<link rel="stylesheet" type="text/css" href="/static/myown.css?{% now 'U' %}">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
</head>

<body>
	<nav class="navbar navbar-toggleable-md navbar-light" style="background-color: white; margin-bottom: 30px;">
		<button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="container">
			<a class="navbar-brand" href="/index"><img alt="brand" src="{% static 'images/台語Song啦2.1.1.png' %}" height="40"></a>
			<div class="collapse navbar-collapse" id="navbarSupportedContent">
				<ul class="nav mr-auto">
					{% if user.is_authenticated %}
						<li class="nav-item">
							<a class="nav-link" href="/userinfo/{{ user.username }}/videos">{{ user.username }}</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="/accounts/logout">登出</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="/makeNew">製作新歌</a>
						</li>
					{% else %}
						<li class="nav-item">
							<a class="nav-link" href="/accounts/signup">註冊</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="/accounts/login">登入</a>
						</li>
					{% endif %}
				</ul>
				<form class="form-inline my-2 my-lg-0" method="get" action="/search/">
					<input class="form-control mr-sm-2" type="text" placeholder="Search" name="keywords">
					<button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
				</form>
			</div>
		</div>
	</nav>
	<div class="container">
		{% block content %}{% endblock %}
	</div>
</body>
</html>