{% extends 'base.html' %}
{% load staticfiles %}
{% block head_title %} 歌曲製作 {% endblock %}

{% block content %}
	{% if request.user.is_authenticated %}
		<div class="row" id="initDiv">
			<div class="col-md-8 offset-md-2">
				<div class="my-block" style="padding: 40px 40px 40px 40px">
					<div id="urlInput">
						<label>輸入Youtube URL：
							<input size="40" class="my-line-text" type="text" name="yturl" autofocus="true" data-toggle="tooltip" data-placement="bottom" title="沒有YouTube影片的網址，就無法製作歌曲喔~" >
						</label><br><br>
						<button class="btn-primary" onclick="getYTVideo() ">開始</button>
					</div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-md-10 offset-md-1" style="text-align: center;">
				<div id="player"></div>
				<div id="lyricsDiv" style="margin:5px 0px 5px 0px; padding: 20px 0px 5px 0px; overflow: scroll; height: 550px;">
				<form id ="makeNew" method="post" action=".">
					{% csrf_token %}
					<div id="form-main"></div>
				</form>
			</div>
			<div id="btnDiv" style="margin: 0px 0px 5px 0px; padding: 5px 0px 5px 0px"></div>
			</div>
		</divs>

	{% else %}
		<script type="text/javascript">
			window.location.href = '/accounts/login'
		</script>>
	{% endif %}
		<script src="{% static '/js/jquery.cookie.js' %}" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js"></script>
	<script type="text/javascript">

		$(function(){
    		$('body').tooltip({ selector: '[data-toggle="tooltip"]', delay:{hide:300} });
		});

		var tag = document.createElement('script');
		tag.src = "https://www.youtube.com/iframe_api";
		var firstScriptTag = document.getElementsByTagName('script')[0];
		firstScriptTag.parentNode.insertBefore(tag, firstScriptTag);

		var player;
		var vid;
		var title;
		var InTime;

		$(document).ready(function(){ 
		    $("input").attr("autocomplete", "off");
		}); 		

		function getYTVideo() {
			InTime=TimeCaculate();
			var yturl = document.getElementsByName("yturl")[0].value;
			var form_main = document.getElementById("form-main");
			var btnDiv = document.getElementById("btnDiv");
			var lyricsDiv = document.getElementById("lyricsDiv");
			vid = getVidFromUrl(yturl);
			if(vid==false){
				return;
			}
			player = new YT.Player('player', {
			    height: '450',
			    width: '90%',
			    videoId: vid
		 	});
			
			btnDiv.setAttribute("class", "my-block");
			lyricsDiv.setAttribute("class", "my-block");
		 	form_main.innerHTML = "<textarea class='my-textarea' id='totalLyrics' rows='20' cols='45%' placeholder='請輸入台文歌詞' data-toggle='tooltip' data-placement='left' title='小撇步: 一句歌詞不要太長，呈現時會更美觀'></textarea><textarea class='my-textarea' id='totalALLyrics' rows='20' cols='45%' placeholder='請輸入羅馬拼音歌詞' data-toggle='tooltip' data-placement='right' title='沒有注音也沒關係，後面步驟有提供自動注音的服務'></textarea>";
		 	btnDiv.innerHTML = "<button class='btn-primary' data-toggle='tooltip' data-placement='top' title='在台文的方框中放台羅夾雜(行為單位)的歌詞，會智慧為你分離' onclick='seperate()'>台文與羅馬拼音分離</button><button class='btn-primary' onclick='cutLyrics()'>下一步</button>";
		 	var element = document.getElementById("initDiv");
			element.parentNode.removeChild(element);
			document.getElementById("totalLyrics").focus();
		}

		function getVidFromUrl(url) {
			var vid;
			if(url.match(/youtube/g)){
				vid = url.split("/")[3];
				if(vid.match("v="))	{
					vid = vid.split("v=")[1];
					if(vid.match("&")) {
						vid = vid.split("&")[0];
						return vid;
					}
					else {
						return vid;
					}
				}
				else {
					return vid;
				}
			}
			else if(url.match(/youtu.be/g)){
				vid = url.split("youtu.be/")[1];
				return vid;
			}
			else{
				alert("請輸入正確YouTube的網址");
				return false;
				}
		}

		function TimeCaculate(){
			var NowDate=new Date();
			hour=NowDate.getHours();
			min=NowDate.getMinutes();
			sec=NowDate.getSeconds();
			total=hour*60*60+min*60+sec;
			return total;
		}


		function seperate(){
			var totalL = document.getElementById("totalLyrics");
			console.log(typeof(totalL.value))
			var totalL = totalL.value.split("\n");
			var AL='';
			var ALLyrics=0;
			var CH='';
			var CHLyrics=0;
			for(var i = 0; i < totalL.length; i++){
				if(totalL[i] !== "") {
					var numAL=0;
					var ALstart=-1;
					var tmpCH='';
					var tmpAL='';
					var space=0;
					for(var k=0; k<totalL[i].length; k++){
						if(totalL[i][k]==' ' || totalL[i][k]=='　'){
							if(space==0){
								tmpCH+=totalL[i][k];
								space=1;
							}
						}
						else if(totalL[i].charCodeAt(k)>19967 && totalL[i].charCodeAt(k)<40869){
							tmpCH+=totalL[i][k];
							numAL=0;
							space=0;
						}
						else{
							numAL++;
							space=0;
							if(numAL==3){
								ALstart=k-2;
								break;
							}
						}
					}
					if(ALstart!=-1){
						for(var k=ALstart;k<totalL[i].length;k++){
							tmpAL+=totalL[i][k];
						}
						AL+=tmpAL;
						AL+='\n';
						ALLyrics++;
					}
					if(tmpCH!=''){
						CH+=tmpCH;
						CH+='\n';
						CHLyrics++;
					}
				}
			}
			if(CHLyrics!=ALLyrics){
				window.alert('行數不相同喔~');
			}
			document.getElementById("totalLyrics").value=CH;
			document.getElementById("totalALLyrics").value=AL;
        }

		function cutLyrics(){
			var totalLyrics = document.getElementById("totalLyrics");
			var totalALLyrics = document.getElementById("totalALLyrics");

			var all_lyrics = totalLyrics.value.replace(/\//g,"");
			all_lyrics = all_lyrics.split("\n");
			var j=0;
			for(var i = 0; i < all_lyrics.length; i++){
				if(all_lyrics[i] !== "") {
					all_lyrics[j]=all_lyrics[i];
					j++;
				}
			}
			var delta=all_lyrics.length-j;
			all_lyrics.splice(j,delta);


			var all_ALlyrics = totalALLyrics.value.split("\n");
			j=0;
			for(var i = 0; i < all_ALlyrics.length; i++){
				if(all_ALlyrics[i] !== "") {
					all_ALlyrics[j]=all_ALlyrics[i];
					j++;
				}
			}
			delta=all_ALlyrics.length-j;
			all_ALlyrics.splice(j,delta);

			var btnDiv = document.getElementById("btnDiv");

			var content = '<div class="form-group row"><label class="col-sm-2 offset-sm-2">歌名: </label><div class="col-sm-6"><input class="my-line-text" type="text" name="title", size=50 ></div></div>' +
						  '<div class="form-group row"><label class="col-sm-2 offset-sm-2">歌手: </label><div class="col-sm-6"><input class="my-line-text" type="text" name="singer", size=50 ></div></div>' +
						  '<div class="form-group row"><label class="col-sm-2 offset-sm-2">作曲: </label><div class="col-sm-6"><input class="my-line-text" type="text" name="composer", size=50 ></div></div>' +
						  '<div class="form-group row"><label class="col-sm-2 offset-sm-2">作詞: </label> <div class="col-sm-6"><input class="my-line-text" type="text" name="lyricist", size=50 ></div></div>' +
						  '<input type="hidden" name="producer" value="{{request.user}}">'+
						  '<input type="hidden" name="vid" value="'+ vid +'">'+
						  '<input type="hidden" name="pinyinType" id="pinyinType" value=-1>'+
						  '<input type="hidden" name="productionPerformance" id="productionPerformance" value=0>';

			if(all_lyrics==""){
				window.alert('要輸入歌詞阿~~')
				return;
			}

			else if(all_ALlyrics==""){
				content+=DisplayNoAL(all_lyrics);
				btnDiv.innerHTML = '從第 <input type ="text" name="copyFrom" size="1"> 句到第 <input type ="text" name="copyTo" size="1"> 句歌詞複製在第 <input type ="text" name="copyBehind" size="1">句歌詞之後 <input class="btn-primary" type ="button" value ="GO!" onclick = "copyParagraph(0)" data-toggle="tooltip" data-placement="right" title="副歌重複又不想重打一次?按下GO!為你複製整段歌詞~"><br><br>全部歌詞開始時間平移<input type ="text" name="ShiftUnit" size="1">秒<input class="btn-primary" type ="button" value ="GO!" onclick = "Shift()"><br><br><button class="btn-primary" onclick="markCurrent()" data-toggle="tooltip" data-placement="left" title="歌曲從頭撥放，歌詞會在你設定的時間內亮起">循序播放</button><button class="btn-primary" onclick="arrange(1)" data-toggle="tooltip" data-placement="top" title="手動新增注音，我們提供了四種不同的自動注音種類給你參考喔~">增加羅馬拼音</button><button class="btn-primary" onclick="arrange(0)" data-toggle="tooltip" data-placement="right" title="我們會為這首歌自動注音，你隨時都可以在修改~">直接提交</button>';
			}	//沒有羅馬拼音，下一步檢查時間，再下一步判斷是否要注音，再下一步再判斷是否需要自動注音的輔助
			else if(all_lyrics.length !== all_ALlyrics.length){
				window.alert('行數不對');
				return;
			}
			else{
				content+=DisplayWithAL(all_lyrics,all_ALlyrics);

				btnDiv.innerHTML = '從第 <input type ="text" name="copyFrom" size="1"> 句到第 <input type ="text" name="copyTo" size="1"> 句歌詞複製在第 <input type ="text" name="copyBehind" size="1">句歌詞之後 <input class="btn-primary" type ="button" value ="GO!" onclick = "copyParagraph(0)" data-toggle="tooltip" data-placement="right" title="副歌重複又不想重打一次?按下GO!為你複製整段歌詞~"><br><br>全部歌詞開始時間平移<input type ="text" name="ShiftUnit" size="1">秒<input class="btn-primary" type ="button" value ="GO!" onclick = "Shift()"><br><br><button class="btn-primary" onclick="markCurrent()" data-toggle="tooltip" data-placement="left" title="歌曲從頭撥放，歌詞會在你設定的時間內亮起">循序播放</button><button class="btn-primary" onclick="arrange(2)" data-toggle="tooltip" data-placement="right" title="之後會有修正介面，讓你做小幅度的修改">提交</button>';
			}	//有給羅馬拼音且行數正確，直接讓他作好時間點就可以提交
			content +='<br>';

			
			var form_main = document.getElementById("form-main");
			content+="<br>歌曲說明:<br><textarea id='SongContentI' name='SongContentI' rows='8' cols='80%' onblur='showTag()' placeholder='可以輸入井字號進行tag(例如: #正字 )'></textarea><br>";
			content+="<input type='hidden' name='tags' id='tags' value=0>";
			/*content+="<br>歌曲說明:<br><textarea class='my-textarea' id='SongContent' name='SongContent' rows='8' cols='80%' onkeyup='textareakeyup()' onblur='useTag()'></textarea><br>";*/
			form_main.innerHTML = content;
			
			document.getElementsByName("sText")[0].focus();
			$("input").attr("autocomplete", "off");
			if(all_ALlyrics.length!=0){
				setTooltip(1);
			}
			else{
				setTooltip(0);
			}
			
		}

/*		function textareakeyup(){
			var x = document.getElementById("SongContent").value;
			if(x.match(' #')){
				console.log('tag')
				var tagcontent=x.split(' #');
				HashTag(tagcontent[1]);				
			}
		}

		function HashTag(val){
            console.log(val)
            result = JSON.stringify(val);
            
            $.ajax({
                type: 'POST',
                url: "/TagFounder/",
                contentType: 'application/json; charset=utf-8',
                data: result,
                success: function(msg)
                {
                    console.log(msg)
                    //useTag(msg, val);
                },
                dataType: 'text'
            });
        }*/

        function showTag(){
        	var songcontent = document.getElementById("SongContentI");
        	var content=songcontent.value;
        	pattern = /\s#[a-zA-Z0-9\u4e00-\u9fa5]*\s/g;
        	var res=content.match(pattern);
        	console.log(res)
        	if(res){
        		for(var i=0; i<res.length;i++){
	        		console.log(res[i])
	        		var tag='<span class="clickable-words" name="tag">'+res[i]+'</span>';
	        		console.log(tag)
	        		content = content.replace(res[i], tag);
	        		console.log(content)

        		}
        	}

        	if(content == '')
                content='沒有歌曲資訊，點兩下進行新增';
            content = content.replace(/\n/g,"<br />");
        	var change = document.createElement("p");
        	change.id = "SongContentP";
        	change.name = "SongContentP";
        	change.innerHTML = content;
        	songcontent.parentElement.appendChild(change);
        	document.getElementById("SongContentI").setAttribute("style", "display:none;");
        	document.getElementById("SongContentP").setAttribute("ondblclick", " modifyTag()");
		}

		function modifyTag(){
			console.log('in')
			document.getElementById("SongContentI").setAttribute("style", "display:show;");
			document.getElementById("SongContentP").remove();
		}
/*
		$("#SongContentP").dblclick(function(){
		    console.log('in')
		    document.getElementById("SongContentI").removeAttr("type")
		  });*/

		function DisplayNoAL(all_lyrics){
			var content='';
			var j=0;
			for(var i = 0; i < all_lyrics.length; i++) {
				if(all_lyrics[i] !== "") {
					j++;
					content += eachLyricDetail(j, 0, all_lyrics[i], 0, 0, 0, 0, 1);
				}}
			return content;
			}

		function DisplayWithAL(all_lyrics,all_ALlyrics){
			var content='';
			var j=0;
			for(var i = 0; i < all_lyrics.length; i++) {
				if(all_lyrics[i] !== "") {
					j++;
					content += eachLyricDetail(j, all_ALlyrics[i], all_lyrics[i], 0, 0, 1, 0, 1);
				}}
			return content;
		}

		function eachLyricDetail(order, AL, lyric, start, end, withAL, withTime, insert){
			var content='';
			if(insert==1){
				content += '<div class="partLyricsDiv">';
			}
			content += '<input type="text" name="order" value="'+order+'" size="1">';
			if(withAL==1){
				content +='<input type="text" name="ALText" value="' + AL + '" size="30" >';
			}
			content += '<input type="text" name="lyricsText" value="' + lyric + '" size="30">';
			if(withTime==1){
				content +='<input type="text" name="sText" size="5" placeholder="開始" value="' + start + '" >' +
					      '<input type="text" name="eText" size="5" placeholder="結束" value="' + end + '">' ;
			}
			else{
				content +='<input type="text" name="sText" size="5" placeholder="開始">' +
				      '<input type="text" name="eText" size="5" placeholder="結束">' ;
			}					   
			content += '<span class="clickable-words" onclick="delPartLyrics()" tabindex="0">刪除</span>';
			if(withAL==1){
				content += '<span class="clickable-words" onclick="insertPartLyrics(1,0)" tabindex="0">插入</span>'+
						'<span class="clickable-words" onclick="insertPartLyrics(1,1)" tabindex="0">間奏</span>';				
			}
			else{
				content += '<span class="clickable-words" onclick="insertPartLyrics(0,0)" tabindex="0">插入</span>'+
						'<span class="clickable-words" onclick="insertPartLyrics(0,1)" tabindex="0">間奏</span>';
				
			}
			if(insert==1){
				content += '</div>';
			}

			return content;
		}

		function dealTimeArea(){
			var sTexts = document.getElementsByName("sText");
			var eTexts = document.getElementsByName("eText");
			for(var i = 0; i < sTexts.length; i++) {
					if(!sTexts[i].value || isNaN(sTexts[i].value)) {
						window.alert("請正確輸入所有開始時間欄位");
						return false; 
					}
				}
			if(!eTexts[eTexts.length-1].value || isNaN(eTexts[eTexts.length-1].value) || eTexts[eTexts.length-1].value==' ') {
				window.alert('請正確輸入最後一個結束時間');
				return false; 
			}
			for(var i = 0; i < eTexts.length-1; i++) {
				if(!eTexts[i].value || eTexts[i].value===' ') {
					time=parseFloat(sTexts[i+1].value)- 0.3;
					time=time.toFixed(1);
					eTexts[i].value = time;
				}
				if(isNaN(eTexts[i].value)) {
					window.alert('請正確輸入時間');
					return false; 
				}
				if(parseFloat(eTexts[i].value)<parseFloat(sTexts[i].value)){
					var falseSen=i+1;
					window.alert('請正確輸入時間順序第'+falseSen+'行正確開始及結束時間'+eTexts[i].value+','+sTexts[i].value);
					return false;
				}
			}
			return true;
		}

		function arrange(msg) {
			
			var title = document.getElementsByName("title")[0].value;
			if(title) {
				if(dealTimeArea()==false){
					return;
				}
			}
			else {
				window.alert('請輸入歌名');
				return;
			}
			if(msg==1){
				var list=document.getElementsByClassName("partLyricsDiv");
				
				for(var i = 0; i < list.length; i++) {
					document.getElementsByName('lyricsText')[i].style.color="black";
					
					var AL = document.createElement("input");
					AL.type="text";
					AL.name="ALText";
					AL.size=40;
					/*
					AL.value="";
					var playButton=document.createElement("SPAN");
			        playButton.setAttribute('onclick', 'seekVideoTime()');
			        playButton.setAttribute('class','clickable-words');
			        playButton.innerHTML='單句循環';*/
			        

					list[i].insertBefore(AL,list[i].children[1]);
					list[i].removeChild(list[i].childNodes[5]);
					list[i].removeChild(list[i].childNodes[5]);
					list[i].removeChild(list[i].childNodes[5]);
					//list[i].insertBefore(playButton,list[i].children[5]);
				}

				var btnDiv = document.getElementById("btnDiv");
				btnDiv.innerHTML = '<select id="TypeofAL"><option value=1>臺羅數字調</option><option value=0>臺羅閏號調</option><option value=2>吳守禮方音</option><option value=3>通用數字調</option></select><button class="btn-primary" onclick="auto(1)" data-toggle="tooltip" data-placement="right" title="先選定自動注音種類再按下~">自動注音</button><br><br><button class="btn-primary" onclick="markCurrent()">循序播放</button><button class="btn-primary" onclick="submit()">提交</button>';
			}
			else if(msg==0){
				auto(0);
			}
			else{
				submit();
			}
			
		} 
 
		function setTooltip(ifAL){
			var list=document.getElementsByClassName("partLyricsDiv");
			ifAL=parseInt(ifAL);
			for(var i=0; i<8; i++){
				if(i==2+ifAL || i==3+ifAL || i==6+ifAL){
					list[0].children[i].setAttribute("data-toggle","tooltip");
					list[0].children[i].setAttribute("data-placement","top");
				}
			}
			list[0].children[6+ifAL].setAttribute("title","適時插入間奏會使這首歌更方便學習喔~");
			list[0].children[3+ifAL].setAttribute("title","小撇步: 只要輸入最後一句的就可以了~");
			list[0].children[2+ifAL].setAttribute("title","按下空白鍵會顯示目前影片時間，並自動跳到下一格喔~");
			console.log(list[0].children)
		}

		var repeat;
        function markCurrent(){
            var list=document.getElementsByClassName("partLyricsDiv");

            if(dealTimeArea()==false){
					return;
				}

            var current_order=0;
            player.seekTo(1);
            var OldSec=1;
            var first=1;
            var start=document.getElementsByName('sText')[0].value;
            var end=document.getElementsByName('eText')[0].value;
        
            repeat = setInterval(function(){ 
                var sec = Math.round(player.getCurrentTime()*10)/10;
                var delta=sec - OldSec;
                if(delta<0 || delta>0.2){
					clear();
					console.log(delta)
					for(var i=0;i<list.length;i++){
						if(sec>document.getElementsByName('sText')[i].value && sec<document.getElementsByName('eText')[i].value){
							current_order=i;
							document.getElementsByName('lyricsText')[current_order].style.color="red";
							break;
						}}
                }
                else{
                	if(sec>end){
                		console.log('IN')
                		document.getElementsByName('lyricsText')[current_order].style.color="black";
                		current_order++;
                		first=1;
                		
                		if(current_order==list.length){
                			window.clearInterval(repeat);
                    		console.log('stop')
                			}
                		else{
                			start=document.getElementsByName('sText')[current_order].value;
                			end=document.getElementsByName('eText')[current_order].value;
                			}
                		}
                	else if(sec>start && first==1){
                		document.getElementsByName('lyricsText')[current_order].style.color="red";
                		first=0;
                		}
                }
                OldSec=sec;
                },100);
        }

        function clear(){
        	var list=document.getElementsByClassName("partLyricsDiv");
        	for(var i=1;i<list.length;i++){
        		document.getElementsByName('lyricsText')[i].style.color="black";
        	}
        }

		function delPartLyrics() {
			var partLyricsDiv = document.activeElement.parentElement;
			var parent = partLyricsDiv.parentElement;
			parent.removeChild(partLyricsDiv);
			ReOrder();
		}

		function insertPartLyrics(ifAL,iftmp) {
			var nextDiv;
			var parent = document.activeElement.parentElement.parentElement;
			var newDiv = document.createElement("div");
			var actElement = document.activeElement;
			var content='';
			if(iftmp==1){
				var start = player.getCurrentTime().toFixed(1);
				if(actElement.parentElement.children["eText"].value!=''){
					var start=actElement.parentElement.children["eText"].value;
				}
				if(ifAL==1){
					content += eachLyricDetail(0, '', '(間奏~)', start, '', 1, 1, 0);
				}
				else{
					content += eachLyricDetail(0, 0, '(間奏~)', start, '', 0, 1, 0);
				}
			}
			else{
				if(ifAL==1){
					content += eachLyricDetail(0, '', '', 0, 0, 1, 0, 0);
				}
				else{
					content += eachLyricDetail(0, 0, '', 0, 0, 0, 0, 0);
				}
			}

			newDiv.setAttribute("class", "partLyricsDiv");
			newDiv.innerHTML = content;

			nextDiv = document.activeElement.parentElement.nextElementSibling;
			if(nextDiv) {
				parent.insertBefore(newDiv, nextDiv);
			}
			else {
				parent.appendChild(newDiv);
			}
			ReOrder();
		}

		
		function getVideoTimeFromSpace(time, dir) {		//dir:direction-0/up; 1/down
			var actElement = document.activeElement;
			if(!actElement){
				return;
			}
			var nextElement = actElement;
			var list=document.getElementsByClassName("partLyricsDiv");

			if(time==1){
				actElement.value = player.getCurrentTime().toFixed(1);
			}
			
			if(dir==1){
				if(actElement.parentElement === list[list.length-1]){
					if(actElement.name === "sText") {
						nextElement = actElement.nextSibling;
					}
					else{
						alert('結束囉~~');
					}
				}
				else{
					nextElement = actElement.parentElement.nextElementSibling.children[actElement.name];
				}
			}
			else{
				if(actElement.parentElement != list[0]){
					nextElement = actElement.parentElement.previousSibling.children[actElement.name];
				}
			}
			
			nextElement.focus();
			if(nextElement != actElement){
				ScrollAdjust();
			}
		}

		function ScrollAdjust(){
			window.lyricsDiv.scrollBy(0, 10);
		}

		document.onkeyup = function() {
			var key = event.which || event.keyCode;
			var active = document.activeElement;
			//console.log(active)
			if(active.name =='sText' || active.name =='eText'){
				if(key == 32 || key == 229) {				//key space
					getVideoTimeFromSpace(1,1);
				}
				if(key == 40) {								//down
					getVideoTimeFromSpace(0,1)
				}
				if(key == 38) {								//up
					getVideoTimeFromSpace(0,0)
				}
			}
			
		}

		document.addEventListener("click", clickListen);

		function clickListen() {
		    if(document.activeElement.name=='sText'){
		    	var start=document.activeElement.value;
		    	start=parseFloat(start);
		    	console.log(start)
		    	if(start!='' && !isNaN(start)){
		    		player.seekTo(start);
		    	}
		    }
		}

		function ReOrder(){
			var ORs = document.getElementsByName("order");
			var list=document.getElementsByClassName("partLyricsDiv");
			for(var i=0; i<ORs.length;i++){
				ORs[i].value=i+1;
			}

		}
		
		function copyParagraph(ifAL){
            var copyFrom=document.getElementsByName('copyFrom')[0].value-1;
            var copyTo=document.getElementsByName('copyTo')[0].value-1;
            var copyBehind=document.getElementsByName('copyBehind')[0].value-1;

            document.getElementsByName('copyFrom')[0].value='';
            document.getElementsByName('copyTo')[0].value='';
            document.getElementsByName('copyBehind')[0].value='';
            insertLyrics(copyFrom,copyTo,copyBehind,ifAL)
		}

		function insertNoDetailsLyric(start,end,next,ifAL,overlay,behind){
			var overlayH;
			for(var i=start;i<=end;i++){
        		var content='';
        		var newDiv = document.createElement("div");
        		if (overlay==1 && i>behind){
                	overlayH=i*2-start;
                }
                else{
                	overlayH=i;
                }
                console.log(overlayH)
				if(ifAL==1){
					content += eachLyricDetail(document.getElementsByName('order')[overlayH].value, document.getElementsByName('ALText')[overlayH].value, document.getElementsByName('lyricsText')[overlayH].value, 0, 0, 1, 0, 0);
				}
				else{
					content += eachLyricDetail(document.getElementsByName('order')[overlayH].value, 0, document.getElementsByName('lyricsText')[overlayH].value, 0, 0, 0, 0, 0);
				}

                newDiv.setAttribute("class", "partLyricsDiv");
                newDiv.innerHTML = content;

                var parent=document.getElementById('lyricsDiv').children[0].children[1];

                parent.insertBefore(newDiv, parent.children[next]);
                next++;
            }
            ReOrder();
		}

        function insertLyrics(start,end,behind,ifAL) {
            var overlay=0;
            if(behind>=start && behind<end){
            	overlay=1;
            }
            var next=behind+9;
            
            if(start==0){
            	insertNoDetailsLyric(start,end,next,ifAL,overlay,behind);
            	return;
            }
            //從第一句開始copy沒有時間差好算

            var ceilingS=document.getElementsByName('sText')[behind].value;
            var ceilingE=document.getElementsByName('eText')[behind].value;

            var deltaE;
            var deltaS;
            var delta;
            var ifTime;
            var overlayH;
            
            for(var i=start;i<=end;i++){
                if(ceilingE=='' || ceilingS==''){
                	insertNoDetailsLyric(i,end,next,ifAL,overlay,behind);
                	return;
                }
                //若上一句歌詞沒有給清楚時間資訊，沒有時間差好算
                
                if (overlay==1 && i>behind){
                	overlayH=i*2-start;
                }
                else{
                	overlayH=i;
                }
                console.log(overlayH)
                var Start=document.getElementsByName('sText')[overlayH].value;
                var End=document.getElementsByName('eText')[overlayH].value;
                delta=parseFloat(End)-parseFloat(Start);
                deltaS='';
                deltaE='';
                ifTime=0;
				
                if(!isNaN(delta)){
                	deltaS=parseFloat(ceilingE)+0.3;
                	deltaE=deltaS+delta;
                }
                else if(Start!=''){
                	var PreStart=document.getElementsByName('sText')[overlayH-1].value;
                	if(PreStart!='' && ceilingS!=''){
                		deltaS=parseFloat(Start)-parseFloat(PreStart);
                		deltaS=parseFloat(ceilingS)+deltaS;
                	}
                }

                if(deltaE!=''){
                	ifTime=1;
                	deltaE=deltaE.toFixed(1);
                }
                if(deltaS!=''){
                	ifTime=1;
                	deltaS=deltaS.toFixed(1);
                }

                var content='';
				if(ifAL==1){
					content += eachLyricDetail(document.getElementsByName('order')[overlayH].value, document.getElementsByName('ALText')[overlayH].value, document.getElementsByName('lyricsText')[overlayH].value, deltaS, deltaE, 1, ifTime, 0);
				}
				else{
					content += eachLyricDetail(document.getElementsByName('order')[overlayH].value, 0, document.getElementsByName('lyricsText')[overlayH].value, deltaS, deltaE, 0, ifTime, 0);
				}

				var newDiv = document.createElement("div");
                newDiv.setAttribute("class", "partLyricsDiv");
                newDiv.innerHTML = content;

                var parent=document.getElementById('lyricsDiv').children[0].children[1];

                parent.insertBefore(newDiv, parent.children[next]);
                next++;
 
                ceilingS=deltaS;
                ceilingE=deltaE;
            }
            
            ReOrder();
        }

        function Shift(){
        	var list=document.getElementsByClassName("partLyricsDiv");
        	var sTexts = document.getElementsByName("sText");
        	var unit=document.getElementsByName('ShiftUnit')[0].value;

        	for(var i=0;i<list.length;i++){
        		var tmp=parseFloat(unit)+parseFloat(sTexts[i].value);
        		tmp=tmp.toFixed(1);
        		document.getElementsByName("sText")[i].value=tmp;
        	}
        }

		function makeAL(msg,insert){
			all_AL = msg.split('/');
			console.log(all_AL)
			document.getElementById("pinyinType").value=all_AL[0];
			if(insert==0){
				var list=document.getElementsByClassName("partLyricsDiv");
				for(var i = 0; i < list.length; i++) {
					var AL = document.createElement("input");
					AL.type="text";
					AL.name="ALText";
					AL.size=60;
					AL.value=all_AL[i+1];
					
					list[i].insertBefore(AL,list[i].firstElementChild);
				}
				submit();
			}
			else{
				var list=document.getElementsByClassName("partLyricsDiv");
				for(var i = 0; i < list.length; i++) {
					document.getElementsByName('ALText')[i].value=all_AL[i+1]
				}
			}
		}

		function auto(insert){

			var type=0;
			if(insert!=0){
				type=document.getElementById("TypeofAL");
				type=type.options[type.selectedIndex].value;
			}
			console.log(type)
	
			var lyricsTexts = document.getElementsByName("lyricsText");
			var result=type;
			result+='/';
			for(var i = 0; i < lyricsTexts.length; i++) {
				result+=lyricsTexts[i].value;
				result+='/';
			}
			result = JSON.stringify(result);
			
			$.ajax({
				type: 'POST',
				url: "/autoAL/",
				contentType: 'application/json; charset=utf-8',
				data: result,
				success: function(msg)
				{
					makeAL(msg,insert);
				},
				dataType: 'text'
			});
		}

		function escapeRegExp(type){
			
			var pattern;
			console.log(type)
			switch(Number(type)){
				case 0:
					pattern = /^[a-záàâāa̍éèêēe̍íìîīi̍óòôōo̍úùûūu̍ńǹn̂n̄][a-záàâāa̍éèêēe̍íìîīi̍óòôōo̍úùûūu̍ńǹn̂n̄\-]*[a-záàâāa̍éèêēe̍íìîīi̍óòôōo̍úùûūu̍ńǹn̂n̄]?$/gi;
					break;
				case 1:
					pattern = /^([a-z]+[0-9\-])?$/gi;
					break;
				case 2:
					pattern = /^[ㄅ-ㄭㆠ-ㆷ⊦ᒻˊˋ][ㄅ-ㄭㆠ-ㆷ⊦ᒻˊˋ\-]*[ㄅ-ㄭㆠ-ㆷ⊦ᒻˊˋ]?$/gi;
					break;
				default:
					return;
			}
		
			var totalAL=document.getElementsByName('ALText');
			var res;
			var str;
			var wrong=0;
			for(var i=0; i<totalAL.length; i++){
				sentenceAL=totalAL[i].value;
				var wordAL = sentenceAL.split(" ");
				for(var j=0; j<wordAL.length; j++){
					if(wordAL[j]!=''){
						res = wordAL[j].match(pattern);
						if(!res){
							wrong=1;
							console.log(wordAL[j])
							totalAL[i].style.background="#FF9797";
							break;
						}
					}
				}
			}
			if(wrong==1){
				alert('粉色部分含有不合法的羅馬拼音');
			}
		}

		function submit(){
			var totalAL=document.getElementsByName('ALText');
			for(var i=0; i<totalAL.length; i++){
				totalAL[i].style.background="#FFFFFF";}

			
			var type=-1;
			if(document.getElementById("pinyinType").value==-1){
				type = window.prompt("請問你使用的注音類型為何(輸入數字)?0. 臺羅閏號調/1. 臺羅數字調 /2. 吳守禮方音/ 3. 通用數字調");
				if(type==0 || type==1 || type==2){
					document.getElementById("pinyinType").value=type;
				}
				else{
					alert("請輸入正確數字~")
					return;
				}
			}
			type = document.getElementById("pinyinType").value;
			//escapeRegExp(type);
			console.log('end')

			var OutTime=TimeCaculate();
			var spend=OutTime-InTime;
			var totalTime=player.getDuration();
			spend = spend/totalTime;
			console.log(spend)
			document.getElementById("productionPerformance").value=spend;

			var tag = document.getElementsByName("tag");
			var tagList = '0';
			if(tag){
				tagList = '1';
				for(var i=0;i<tag.length;i++){
					tagList+=tag[i].innerHTML;
					console.log(tagList)
				}}
			tagList = tagList.replace(/\s/g,'');
			document.getElementById("tags").value = tagList;
			var form = document.getElementById("makeNew");
			console.log(form)
			form.submit();
		}

		function csrfSafeMethod(method) {
			return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
			}
			$.ajaxSetup({
				beforeSend: function(xhr, settings) {
				if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
					xhr.setRequestHeader("X-CSRFToken", $.cookie('csrftoken'));
				}
			}
		});

	</script>
{% endblock %}