{% extends 'base.html' %}
{% load static %}

{% block head_title %} 歌曲製作 {% endblock %}

{% block content %}
	{% if request.user.is_authenticated %}
		<div class="row" id="initDiv">
			<div class="col-md-8 offset-md-2">
				<div class="my-block" style="padding: 40px 40px 40px 40px">
					<div id="urlInput">
						<label>輸入Youtube URL：
							<input size="40" class="my-line-text" type="text" name="yturl">
						</label><br><br>
						<button class="btn-primary" onclick="getYTVideo()">開始</button>
					</div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-md-10 offset-md-1" style="text-align: center;">
				<div id="player"></div>
				<div id="lyricsDiv" style="margin:5px 0px 5px 0px; padding: 20px 0px 5px 0px">
				<form method="post" action=".">
					{% csrf_token %}
					<div id="form-main"></div>
				</form>
			</div>
			<div id="btnDiv" style="margin: 0px 0px 5px 0px; padding: 5px 0px 5px 0px"></div>
			</div>
		</div>
	{% else %}
		<script type="text/javascript">
			window.location.href = '/accounts/login'
		</script>>
	{% endif %}

	<script src="https://code.jquery.com/jquery-1.10.2.js"></script>

		<script src="{% static '/js/jquery.cookie.js' %}" type="text/javascript"></script>
	<script type="text/javascript">
		var tag = document.createElement('script');
		tag.src = "https://www.youtube.com/iframe_api";
		var firstScriptTag = document.getElementsByTagName('script')[0];
		firstScriptTag.parentNode.insertBefore(tag, firstScriptTag);

		var player;
		var vid;
		var title;
		

		function getYTVideo() {
			var yturl = document.getElementsByName("yturl")[0].value;
			var form_main = document.getElementById("form-main");
			var btnDiv = document.getElementById("btnDiv");
			var lyricsDiv = document.getElementById("lyricsDiv");
			vid = getVidFromUrl(yturl);
			player = new YT.Player('player', {
		    height: '400',
		    width: '90%',
		    videoId: vid
		 	});
			btnDiv.setAttribute("class", "my-block");
			lyricsDiv.setAttribute("class", "my-block");
		 	form_main.innerHTML = "<textarea class='my-textarea' id='totalLyrics' rows='20' cols='45%' placeholder='請輸入台文歌詞'></textarea><textarea class='my-textarea' id='totalALLyrics' rows='20' cols='45%' placeholder='請輸入羅馬拼音歌詞'></textarea>";
		 	btnDiv.innerHTML = "<button class='btn-primary' onclick='cutLyrics()'>下一步</button>";
		 	var element = document.getElementById("initDiv");
			element.parentNode.removeChild(element); 
		}

		function cutLyrics(){
			var totalLyrics = document.getElementById("totalLyrics");
			var totalALLyrics = document.getElementById("totalALLyrics");

			var all_lyrics = totalLyrics.value.split("\n");
			var j=0;
			for(var i = 0; i < all_lyrics.length; i++){
				if(all_lyrics[i] !== "") {
					all_lyrics[j]=all_lyrics[i];
					j++;
				}
			}
			var delta=all_lyrics.length-j;
			all_lyrics.splice(j,delta);


			var all_ALlyrics = totalALLyrics.value.split("\n");
			j=0;
			for(var i = 0; i < all_ALlyrics.length; i++){
				if(all_ALlyrics[i] !== "") {
					all_ALlyrics[j]=all_ALlyrics[i];
					j++;
				}
			}
			delta=all_ALlyrics.length-j;
			all_ALlyrics.splice(j,delta);

			var btnDiv = document.getElementById("btnDiv");

			var content = '<div class="form-group row"><label class="col-sm-2 offset-sm-2">Song title: </label><div class="col-sm-6"><input class="my-line-text" type="text" name="title", size=50 placeholder="歌名"></div></div>' +
						  '<div class="form-group row"><label class="col-sm-2 offset-sm-2">Singer: </label><div class="col-sm-6"><input class="my-line-text" type="text" name="singer", size=50 placeholder="歌手"></div></div>' +
						  '<div class="form-group row"><label class="col-sm-2 offset-sm-2">Composer: </label><div class="col-sm-6"><input class="my-line-text" type="text" name="composer", size=50 placeholder="作曲"></div></div>' +
						  '<div class="form-group row"><label class="col-sm-2 offset-sm-2">Lyricist: </label> <div class="col-sm-6"><input class="my-line-text" type="text" name="lyricist", size=50 placeholder="作詞"></div></div>' +
						  '<input type="hidden" name="producer" value="{{request.user}}">'+
						  '<input type="hidden" name="vid" value="'+ vid +'">';

			if(all_lyrics==""){
				window.alert('要輸入歌詞阿~~')
				return;
			}

			else if(all_ALlyrics==""){
				content+=DisplayNoAL(all_lyrics);
				btnDiv.innerHTML = 'The lyrics from the <input type ="text" name="copyFrom" size="1"> sentence to the <input type ="text" name="copyTo" size="1"> sentence copied in the <input type ="text" name="copyBehind" size="1"> sentence behind. <input class="btn-primary" type ="button" value ="COPY" onclick = "copyParagraph(0)"><br><br><button class="btn-primary" onclick="markCurrent()">testPlay</button><button class="btn-primary" onclick="arrange(1)">增加羅馬拼音</button><button class="btn-primary" onclick="arrange(0)">直接提交</button>';
			}	//沒有羅馬拼音，下一步檢查時間，再下一步判斷是否要注音，再下一步再判斷是否需要自動注音的輔助
			else if(all_lyrics.length !== all_ALlyrics.length){
				window.alert('行數不對');
				return;
			}
			else{
				content+=DisplayWithAL(all_lyrics,all_ALlyrics);
				btnDiv.innerHTML = 'The lyrics from the <input type ="text" name="copyFrom" size="1"> sentence to the <input type ="text" name="copyTo" size="1"> sentence copied in the <input type ="text" name="copyBehind" size="1"> sentence behind. <input class="btn-primary" type ="button" value ="COPY" onclick = "copyParagraph(1)"><br><br><button class="btn-primary" onclick="markCurrent()">testPlay</button><button class="btn-primary" onclick="arrange(2)">提交</button>';
			}	//有給羅馬拼音且行數正確，直接讓他作好時間點就可以提交
			content +='<br>';

			
			var form_main = document.getElementById("form-main");

			form_main.innerHTML = content;
			
			document.getElementsByName("sText")[0].focus();

		}

		function DisplayNoAL(all_lyrics){
			var content='';
			var j=0;
			for(var i = 0; i < all_lyrics.length; i++) {
				if(all_lyrics[i] !== "") {
					j++;
					content += '<div class="partLyricsDiv">'+
							   '<input type="text" name="order" value="'+j+'" size="1">'+
							   '<input type="text" name="lyricsText" value="' + all_lyrics[i] + '" size="30">' +
							   '<input type="text" name="sText" size="5" placeholder="開始">' +
							   '<input type="text" name="eText" size="5" placeholder="結束">' +
							   '<span class="clickable-words" onclick="delPartLyrics()" tabindex="0">刪除</span>' +
							   '<span class="clickable-words" onclick="insertPartLyrics(0)" tabindex="0">插入</span>' +
							   '</div>';
				}}
			return content;
			}

		function DisplayWithAL(all_lyrics,all_ALlyrics){
			var content='';
			var j=0;
			for(var i = 0; i < all_lyrics.length; i++) {
				if(all_lyrics[i] !== "") {
					j++;
					content += '<div class="partLyricsDiv">'+
							   '<input type="text" name="order" value="'+j+'" size="1">'+
							   '<input type="text" name="ALText" value="' + all_ALlyrics[i] + '" size="30">' +
							   '<input type="text" name="lyricsText" value="' + all_lyrics[i] + '" size="30">' +
							   '<input type="text" name="sText" size="5" placeholder="開始">' +
							   '<input type="text" name="eText" size="5" placeholder="結束">' +
							   '<span class="clickable-words" onclick="delPartLyrics()" tabindex="0">刪除</span>' +
							   '<span class="clickable-words" onclick="insertPartLyrics(1)" tabindex="0">插入</span>' +
							   '</div>';
				}}
			return content;
		}

		function arrange(msg) {
			var sTexts = document.getElementsByName("sText");
			var eTexts = document.getElementsByName("eText");
			var title = document.getElementsByName("title")[0].value;
			if(title) {
				for(var i = 0; i < sTexts.length; i++) {
					if(!sTexts[i].value || isNaN(sTexts[i].value)) {
						window.alert("請正確輸入所有開始時間欄位");
						return; 
					}
				}
				if(!eTexts[eTexts.length-1].value || isNaN(eTexts[eTexts.length-1].value)) {
					window.alert('請正確輸入結束時間');
					return; 
				}
				for(var i = 0; i < eTexts.length-1; i++) {
					if(!eTexts[i].value || eTexts[i].value===' ') {
						time=parseFloat(sTexts[i+1].value)- 0.3;
						time=time.toFixed(2);
						eTexts[i].value = time;
					}
					if(isNaN(eTexts[i].value)) {
						window.alert(message);
						return; 
					}
				}
			}
			else {
				window.alert('請輸入歌名');
				return;
			}
			if(msg==1){
				var list=document.getElementsByClassName("partLyricsDiv");
				
				for(var i = 0; i < list.length; i++) {
					document.getElementsByName('lyricsText')[i].style.color="black";
					
					var AL = document.createElement("input");
					AL.type="text";
					AL.name="ALText";
					AL.size=40;
					AL.value="";
					var playButton=document.createElement("input");
					playButton.setAttribute('type', 'button');
			        playButton.setAttribute('value', 'play');
			        playButton.setAttribute('onclick', 'seekVideoTime()');

					list[i].insertBefore(AL,list[i].children[1]);
					list[i].removeChild(list[i].childNodes[5]);
					list[i].removeChild(list[i].childNodes[5]);
					list[i].insertBefore(playButton,list[i].children[5]);
				}

				var btnDiv = document.getElementById("btnDiv");
				btnDiv.innerHTML = '<button onclick="submit()">提交</button><button onclick="auto(1)">自動注音</button>';
			}
			else if(msg==0){
				auto(0);
			}
			else{
				submit();
			}
			
		}

		var repeat;
		function seekVideoTime() {
			window.clearInterval(repeat);
			var start = document.activeElement.parentElement.childNodes[3].value;
			var end = document.activeElement.parentElement.childNodes[4].value;
			if(parseInt(start)) {
				player.seekTo(start);
				repeat = setInterval(function(){
					var sec = Math.round(player.getCurrentTime()*10)/10;
					if(sec>end){
						player.seekTo(start);
					}
					},500);
				}
		} 

		function markCurrent(){
            var current_order=0;
            player.seekTo(1);
            var list=document.getElementsByClassName("partLyricsDiv");
            var OldSec=0;
            repeat = setInterval(function(){ 
                var sec = Math.round(player.getCurrentTime()*10)/10;
                var delta=sec - OldSec;
                console.log(delta)
                if(delta<0.3 || delta>0.3){
					clear();
					for(var i=0;i<list.length;i++){
						if(document.getElementsByName('sText')[i].value>sec){
							if(i!=0){
								current_order=i-1;
							}
							else{
								current_order=0;
							}
							
							break;
							console.log(current_order)
						}}
                }
                var start=document.getElementsByName('sText')[current_order].value;
                if(sec>start){
                    if(current_order>0){
                        var previous=current_order-1;
                        document.getElementsByName('lyricsText')[previous].style.color="black";
                    }
                    
                    document.getElementsByName('lyricsText')[current_order].style.color="red";
                    current_order++;
                }
                if(current_order==list.length){
                    window.clearInterval(repeat);
                    console.log('stop')
                    clear();
                }
                OldSec=sec;
                },200);
        }

        function clear(){
        	var list=document.getElementsByClassName("partLyricsDiv");
        	for(var i=1;i<list.length;i++){
        		document.getElementsByName('lyricsText')[i].style.color="black";
        	}
        }

		function delPartLyrics() {
			var partLyricsDiv = document.activeElement.parentElement;
			var parent = partLyricsDiv.parentElement;
			parent.removeChild(partLyricsDiv);
			ReOrder();
		}

		function insertPartLyrics(ifAL) {
			var nextDiv;
			var parent = document.activeElement.parentElement.parentElement;
			var newDiv = document.createElement("div");
			var content = '<input type="text" name="order" value="0" size="1">';
			if(ifAL==1){
				content += '<input type="Text" name="ALText" size="30">';
			}
			content += '<input type="Text" name="lyricsText" size="30">' +
					   '<input type="Text" name="sText" size="5" placeholder="開始">' +
				       '<input type="Text" name="eText" size="5" placeholder="結束">' +
					   '<span class="clickable-words" onclick="delPartLyrics()" tabindex="0">刪除</span>' +
					   '<span class="clickable-words" onclick="insertPartLyrics()" tabindex="0">插入</span>';

			newDiv.setAttribute("class", "partLyricsDiv");
			newDiv.innerHTML = content;

			nextDiv = document.activeElement.parentElement.nextElementSibling;
			if(nextDiv) {
				parent.insertBefore(newDiv, nextDiv);
			}
			else {
				parent.appendChild(newDiv);
			}
			ReOrder();
		}

		function getVidFromUrl(url) {
			var vid = url.split("/")[3];
			if(vid.match("v="))	{
				vid = vid.split("v=")[1];
				if(vid.match("&")) {
					vid = vid.split("&")[0];
					return vid;
				}
				else {
					return vid;
				}
			}
			else {
				return vid;
			}
		}

		function getVideoTimeFromSpace() {
			var actElement = document.activeElement;
			var nextElement;
			var list=document.getElementsByClassName("partLyricsDiv");
			var endStart=list[list.length-1]
			if(actElement && actElement.name === "sText") {
				actElement.value = player.getCurrentTime().toFixed(2);
				if(actElement.parentElement === endStart) {
					nextElement = actElement.parentElement.children["eText"];
				}
				else{
					nextElement = actElement.parentElement.nextElementSibling.children["sText"];
				}
				nextElement.focus();			
			}
			else if(actElement && actElement.name === "eText") {
				actElement.value = player.getCurrentTime().toFixed(2);
				if(actElement.parentElement === endStart){
					window.alert('結束囉~~');
				}
				else{
					nextElement = actElement.parentElement.nextElementSibling.children["eText"];
					nextElement.focus();
				}
			}
		}

		document.onkeydown = function() {
			key = event.keyCode;
			if(key == 32) {				//key space
				getVideoTimeFromSpace();
			}
		}

		function ReOrder(){
			var ORs = document.getElementsByName("order");
			for(var i=0; i<ORs.length;i++){
				ORs[i].value=i+1;
			}
		}

		function copyParagraph(ifAL){
            var copyFrom=document.getElementsByName('copyFrom')[0].value-1;
            var copyTo=document.getElementsByName('copyTo')[0].value-1;
            var copyBehind=document.getElementsByName('copyBehind')[0].value-1;

            document.getElementsByName('copyFrom')[0].value='';
            document.getElementsByName('copyTo')[0].value='';
            document.getElementsByName('copyBehind')[0].value='';
            insertLyrics(copyFrom,copyTo,copyBehind,ifAL)
		}

        function insertLyrics(start,end,behind,ifAL) {
            var nextDiv;
            var next=behind+16;
            
            var ceilingS=document.getElementsByName('sText')[behind].value;
            var ceilingE=document.getElementsByName('eText')[behind].value;

            var deltaE;
            var deltaS;

            for(var i=start;i<=end;i++){
                var newDiv = document.createElement("div");
                
                if(ceilingS==''){
                	deltaS=''
                }
                else{
                	var Start=document.getElementsByName('sText')[i].value;
                	var PreStart=document.getElementsByName('sText')[i-1].value;
                	if(Start=='' || PreStart==''){
                		deltaS='';
	                }
	                else{
	                	deltaS=parseFloat(Start)-parseFloat(PreStart);
	                	deltaS=parseFloat(ceilingS)+deltaS;
               		}
                }
                if(ceilingE==''){
                	deltaE=''
                }
                else{
                	var End=document.getElementsByName('eText')[i].value;
	                var PreEnd=document.getElementsByName('eText')[i-1].value;
	                
	                if(End=='' || PreEnd==''){
	                	deltaE='';
	                }
	                else{
	                	deltaE=parseFloat(End)-parseFloat(PreEnd);
	                	deltaE=parseFloat(ceilingE)+deltaE;
	                }
                }              

                var content = '<input type="text" name="order" size="1" value="'+document.getElementsByName('order')[i].value+'">';
                if(ifAL==1){
                	content += '<input type="Text" name="ALText" size="40" value="'+document.getElementsByName('ALText')[i].value+'">';
                }
                content += '<input type="Text" name="lyricsText" size="40" value="'+document.getElementsByName('lyricsText')[i].value+'">'+
                        '<input type="Text" name="sText" size="5" placeholder="開始" value="'+deltaS+'">'+
                        '<input type="Text" name="eText" size="5" placeholder="結束" value="'+deltaE+'">'+
                         '<span class="clickable-words" onclick="delPartLyrics()" tabindex="0">刪除</span>' +
					   '<span class="clickable-words" onclick="insertPartLyrics()" tabindex="0">插入</span>';

                newDiv.setAttribute("class", "partLyricsDiv");
                newDiv.innerHTML = content;

                var parent=document.getElementById('lyricsDiv').childNodes[1];

                parent.insertBefore(newDiv, parent.childNodes[next]);
                next++;
                ceilingS=deltaS;
                ceilingE=deltaE;
            }
            
            ReOrder();
        }

		function makeAL(msg,insert){
			
			all_AL = msg.split('/');
			if(insert==0){
				var list=document.getElementsByClassName("partLyricsDiv");
				for(var i = 0; i < list.length; i++) {
					var AL = document.createElement("input");
					AL.type="text";
					AL.name="ALText";
					AL.size=60;
					AL.value=all_AL[i];
					
					list[i].insertBefore(AL,list[i].firstElementChild);
				}
				submit();
			}
			else{
				var list=document.getElementsByClassName("partLyricsDiv");
				for(var i = 0; i < list.length; i++) {
					document.getElementsByName('ALText')[i].value=all_AL[i]
				}
			}
		}

		function auto(insert){
			var lyricsTexts = document.getElementsByName("lyricsText");
			var result='';
			for(var i = 0; i < lyricsTexts.length; i++) {
				result+=lyricsTexts[i].value;
				result+='/';
			}
			result = JSON.stringify(result);
			
			$.ajax({
				type: 'POST',
				url: "/autoAL/",
				contentType: 'application/json; charset=utf-8',
				data: result,
				success: function(msg)
				{
					makeAL(msg,insert);
				},
				dataType: 'text'
			});
		}

		function submit(){
			var form = document.getElementsByTagName("form")[1];
			form.submit();
		}

		function csrfSafeMethod(method) {
			return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
			}
			$.ajaxSetup({
				beforeSend: function(xhr, settings) {
				if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
					xhr.setRequestHeader("X-CSRFToken", $.cookie('csrftoken'));
				}
			}
		});

	</script>
{% endblock %}

