{% extends 'base.html' %}

{% load page_tags %}

{% block head_title %} 歌曲列表 {% endblock %}

{% block content %}
<div class="row">
	<div class="col-md-8 offset-md-2">
		<span style="font-size:24px;">影片結果如下：</span>
		<div class="my-block">
			{% for s in songs %}
			<div class="row" style="padding: 5px 5px 5px 5px;">
				<div class="col-md-4">
					<a href="/video/{{ s.songID }}">
						<img src="http://img.youtube.com/vi/{{ s.videoURL }}/0.jpg" width="240" height="135" />
					</a>
				</div>
				<div class="col-md-8">
					<p style="font-size:20px;">
						<a href="/video/{{ s.songID }}">
							{{ s.singer }} - {{ s.title }}
						</a><br>
						<small>
							<a href="/userinfo/{{ s.uploader }}">{{ s.uploader }}</a><br>
							觀看次數：{{ s.viewNumber }}
						</small>
					</p>
				</div>
			</div>
			{% endfor %}
		</div>
		<!--
		{% for song in songs %}
			{{ song.full_name|upper }}<br />
		{% endfor %}
		-->
		<div class="col-md-6 offset-md-4">
			<span class="step-links">
				{% if songs.has_previous %}
					<a href="?page={{ songs.previous_page_number }}">上一頁</a>
				{% endif %}
				<span class="current">
					{% for page_number in songs.paginator.page_range %}
						{% if page_number == songs.number %}
							{{ page_number }}
						{% elif page_number|show_page:songs.number %}
							<a href="?page={{ page_number }}">{{ page_number }}</a>
						{% else %}
							.
						{% endif %}
					{% endfor %}
				</span>
				{% if songs.has_next %}
					<a href="?page={{ songs.next_page_number }}">下一頁</a>
				{% endif %}
			</span>
		</div>
	</div>
</div>
{% endblock %}