{% extends 'base.html' %}

{% load static %}
{% load dict_tags %}

{% block head_title %} {{ song.singer }} - {{ song.title }} {% endblock %}
{% block content %}
	<div class="row">
		<div class="col-md-8">

			<div id="videoDiv" style="width:100%;background-color: #000000;">
				<div id="player"></div> <!-- 影片的位置 -->
				<div id="cuewrap"></div> <!-- 放字幕的地方 -->				
				<div id="cuewrap_pinyin" style="display:none"></div>
				<div id="cuewrap_text" style="display:none"></div>
				<div id="inform" ></div><!-- 放提醒 -->
				<div>
					<br><br><br><br><br>
					<!--<button onclick="playVideo();">播放</button>
					<button onclick="pauseVideo();">暫停</button>-->
					<button onclick="replayVideo();">重頭播放</button>	
					<button id="circulate" onclick="circulate();">單句循環</button>
					<select id="selectMode" onchange="selectMode()">
						<option value='1'>一般字幕</option>
						<option value='2'>台羅拼音</option>
						<option value='3'>閩南語漢字</option>
						<option value='4'>全關</option>
					</select>	
					<span id="timer" style="background-color:black;color:yellow;"></span><br>
				</div>
			</div>

			<div class="my-block" style="padding: 25px 25px 25px 25px; margin: 20px 0px 20px 0px">
				<div>
					<div class="my-inline" style="font-size:24px; width: 49%">{{ song.singer }} - {{ song.title }}</div>
					<div class="my-inline" style="text-align: right; width: 50%; color: grey;">{{ song.viewNumber }}次觀看</div>
				</div>
				<span>上傳者: <a href="/userinfo/{{ song.uploader }}/videos">{{ song.uploader }}</a></span>
				<div style="color: grey; font-size: 14px;">{{ song.uploadTime }}</div>
				<br />
				<div>
					<span><b style="font-size: 20px">歌曲說明</b></span>
					<p id="tag">=</p>
				</div>				
					<input type='hidden' id='song_content' value='{{song.content}}'>
					<script>
						var content = document.getElementById('song_content').value;
						//console.log(content)
						pattern = /\s#[a-zA-Z0-9\u4e00-\u9fa5]*\s/g;
						var res=content.match(pattern);
						//console.log(res)
						if(res){
							for(var i=0; i<res.length;i++){
								//console.log(res[i])
								var target = res[i].slice(2);
								console.log(target);
								var tag="<span class='clickable-words' name='tag'><a href='/search/?keywords=%23"+target+"'>"+res[i]+"</a></span>";
								content = content.replace(res[i], tag);
								
								//console.log(content)
							}
						}
						content = content.replace(/\n/g, "<br />");
						//console.log(content)
						document.getElementById('tag').innerHTML = content;
					</script>
					

					
				<!--hashtag-->
					{% for i in hashtags %}
						<!--<a href="/search/?keywords={{i.tagName}}">#{{i.tagName}}</a>-->
					{% endfor %}
				<hr style="background-color: #0275D8">
				<div><!--訂閱 -->
					{% if isFavorite %}
						<img class="img-btn" id="fav-btn" src="{% static 'images/favorite-on.png' %}" onclick="favorite()">
					{% else %}
						<img class="img-btn" id="fav-btn" src="{% static 'images/favorite-off.png' %}" onclick="favorite()">
					{% endif %}
					<!-- 按讚 -->&nbsp;
					{% if isLike %}
						<img class="img-btn" id="like-btn" src="{% static 'images/like-on.png' %}" onclick="like()">
					{% else %}
						<img class="img-btn" id="like-btn" src="{% static 'images/like-off.png' %}" onclick="like()">
					{% endif %}
					<span id=rating>{{this_song_good_ratings  |length}}</span>

					{% if modify %}
						<img class="img-btn" src="{% static 'images/edit.png' %}" onclick="modify_form()" align="right">
						<script type="text/javascript">
							function modify_form() {
								var modify_form = document.createElement("form");
								modify_form.setAttribute("method", "get");
								modify_form.setAttribute("action", "/modify/");
								modify_form.innerHTML = '<input type="hidden" name="id" value="{{ song.songID }}">';
								document.body.appendChild(modify_form);
								modify_form.submit();		
							}
						</script>
					{% endif  %}
				</div>
				
			</div>
<!-- 測試可以post的form			
			<div> 
				<form id='test_form'>
					<input type='text' id='name' />
					<label for='name'>Name</label>
					<br/>
					<input type='password' id='password' />
					<label for='password'>Password</label>
					<div>
						<input class="btn-primary" type='submit' value='submit'>
					</div>
				</form>
			</div>
-->
			<div id="comment-panel" class="my-block" style="padding: 25px 25px 25px 25px; display: none">
				<form id='comment_form'>
					<!--{% csrf_token %}-->
						<textarea rows="4" cols="" class="my-comment-area" id='comment_id' placeholder="留個言吧...."></textarea>
					<div>
						<input class="btn-primary" type='submit' value='評論'>
					</div>
				</form>					
			</div>
			<div id="comment-flip" class="btn-primary">撰寫留言</div>
			<script> 
				$(document).ready(function(){
				    $("#comment-flip").click(function(){
				        $("#comment-panel").slideDown("slow");
				        $("#comment-flip").css("background-color", "white");
				        $("#comment-flip").css("color", "#0275D8");
				        $("#comment-flip").css("border", "2px solid #F0F0F0");
				        $("#comment-flip").css("border-top", "none");
				        $("#comment-flip").hover( function (){
				        	$("#comment-flip").css("cursor", "default");
				        });
				    });
				});
			</script>

			<div class="my-block" style="padding: 25px 25px 25px 25px; margin-top: 20px;">
				<div id='comment_lists'>
					<p id="comment_length">留言列表({{ this_song_comments | length }})</p>
					{% for i in show_comments %}
						<div class="comment_item">
							<div>
								{% if comment_profile_imgs|get_item:i.user.username %}
									<img src="/media/{{ comment_profile_imgs | get_item:i.user.username }}" style="width:36px; height: 36px">
								{% else %}
									<img src="{% static 'images/皮卡丘.jpg'%}" style="width:36px; height: 36px">
								{% endif %}
								<strong><a href="/userinfo/{{ i.user.username }}">{{ i.user | capfirst }}</a></strong> 
							</div>
							<div style="padding: 0 40px 0 40px;">{{ i.content | linebreaks }}</div>
							<span style="color: grey; font-size: 13px; padding-left: 40px;">{{ i.commentTime }}</span>
						</div>
					{% endfor %}
					<div id="ajax_post"></div>
				</div>
			</div>
			
		</div>

		<div class="col-md-4">
			<div id="lyricsDIv">
				<div id="content" style="overflow: scroll; height: 550px; background-color: #F8F8FF">
					<script type="text/javascript">
						{% for lyric in lyrics %}
						document.write("<table><tr>");
						{% load staticfiles %}
						//document.write("<td><img class ='move' id='{{lyric.order}}'' src='{% static 'images/green.png' %}''></td>");
						document.write("<td  style='vertical-align:text-top;'>{{lyric.order}}.</td>");
						document.write("<td><p class='move' id='{{lyric.order}}' style='cursor:pointer'>");
						var find = '-';
						var find2 = '--';
						var pinyin = '{{lyric.pinyin}}';
						var text = '{{lyric.text}}';
						var pinyin_Array = new Array(); //台羅拼音
						var text_Array = new Array();   //台語字
						var record_Array = new Array(); //紀錄"-"數量 -> 讓台語字能夠依照台羅拼音隔開分布位置 2 1 2
						var translate_Array = new Array(); //2 1 2 -> 0 2 3 5陣列表示
						var tw_Array = new Array(); //紀錄新的台語字斷詞
						translate_Array[0] = 0;
						var check_num = 0; 
						var temp ="";
						var tempText = "";
						for(var i=0;i<pinyin.length;i++){
							var charCode = pinyin.charCodeAt(i);
							if(charCode == 12288){  //全形空白轉半形
								charCode = 32;
							}
							temp += String.fromCharCode(charCode);
						}
						pinyin = temp;
						//刪除左右邊的空格
						pinyin = pinyin.trim();
						//刪除字串裡多餘空白及-
						pinyin = pinyin.replace(/\s(?=\s)/gi,"");//g表全局匹配，i表區分大小寫
						pinyin = pinyin.replace(/---+/g,"--")

						//切割台羅拼音
						pinyin_Array = pinyin.split(" ");
						for(var i=0;i<text.length;i++){
							var charCode = text.charCodeAt(i);
							 if(charCode < 0x4E00 || charCode > 0x9FA5){ //只顯示中文字,非中文字改半形空白,改NULL字數會減少
								charCode = 32;
							}
							tempText += String.fromCharCode(charCode);
						}
						text = tempText;
						//刪除台語字的所有空格
						text = text.replace(/\s+/g,"");
						//切割台語字
						text_Array = text.split("");
						var words = pinyin_Array.length;
						//console.log(words);
						var checksum = 0;
						for(var i=0;i<words;i++){
						  	var reg = new RegExp(find,"g"); //建立了一個正則表達式，計算-數量求出單句自數
						  	var reg2 = new RegExp(find2,"g");
						  	var c = pinyin_Array[i].match(reg); //c即要匹配的字符，其中g表示全局搜索。match則返回匹配的字符（串)
						  	var z = pinyin_Array[i].match(reg2);
						  	if(c){
						  		if(z) record_Array[i] = 1 + c.length - 1; //輕聲調--,須減掉1個
						  		else record_Array[i] = 1 + c.length;  //寂-寞 的 心-情 2 1 2
						  	} 
						  	else record_Array[i] = 1;//只有一個字，非詞 ex: 寂-寞 "的" 心-情
						  	checksum += record_Array[i];
						}	
						//console.log(checksum);
						//console.log(text_Array.length);
						if( checksum == text_Array.length){ //檢查拼音和台語字數量是否一致，不一樣則不對齊
							for(var i=0;i<words;i++){
								translate_Array[i+1] = translate_Array[i] + record_Array[i];
								var string="";
								for(var j=translate_Array[i];j<translate_Array[i+1];j++){
									string += text_Array[j];
								} 
								tw_Array[i] = string;
								document.write("<ruby style='font-size: 180%;'><rb>"+tw_Array[i]+"</rb><rt>"+pinyin_Array[i]+"</rt></ruby>&ensp;");
							}
						}
						else{
							//不做對齊
							//console.log(check_num);
							document.write("<ruby style='font-size: 150%;'><rb>"+text+"</rb><rt>"+pinyin+"</rt></ruby>&ensp;");
						}	
						  document.write("</p></td>");
						  document.write("<td><a class='modify_text' style='cursor:pointer; color:#F8F8FF' onclick='modify_Text({{lyric.order}})'>編輯</a></td>");
						  document.write("</tr></table>");
						{% endfor %}
					</script>
				</div>
			</div>
			<div id='modify_area'></div>
			<div id='test'></div>
		</div>
	</div>

	<script type="text/javascript">
	$.ajaxSetup({
	  data: {csrfmiddlewaretoken: '{{ csrf_token }}' },
	});
	var current_time;
	var currentOrder; //當前歌詞編號
	var all_time;
	var player;
	var tag = document.createElement('script');
	tag.src = "https://www.youtube.com/player_api";
	var firstScriptTag = document.getElementsByTagName('script')[0];
	var switcher_pinyin_r = 0;
	var switcher_good = 0;
	var switcher_bad = 0;
	var circulateNum = 0;
	var stTime;
	var etTime;
	var timeout; //要放全域
	var interval;
	var countSentence = {{lyrics | length}};//歌詞句數
	var youtube_id = "{{ song.videoURL }}";	
	var isFavorite;
	var isLike;

	{% if isFavorite %}
		isFavorite = true;
	{% else %}
		isFavorite = false;
	{% endif %}
	{% if isLike %}
		isLike = true;
	{% else %}
		isLike = false;
	{% endif %}	
	//subTitle: ruby處理好的字
	//textArray: 切割好台語字
	var subTitle = new Array();
	var textArray = new Array();
	var pinyinArray = new Array();
	var x, rb_text,rt_pinyin;
	var string_x = "";
	var string_y = "";
	{% for lyric in lyrics %}
		x = document.getElementById("{{lyric.order}}");
		subTitle[{{lyric.order}}] =x.innerHTML;
		rb_text = x.getElementsByTagName("rb");
		rt_pinyin = x.getElementsByTagName("rt");
		for(var i=0;i<rb_text.length;i++){ //取得rb標籤台羅字+空格切開表示
			string_x += " "+rb_text[i].innerHTML;
		}
		for(var i=0;i<rt_pinyin.length;i++){ 
			string_y += " "+rt_pinyin[i].innerHTML;
		}
		textArray[{{lyric.order}}] = string_x;
		pinyinArray[{{lyric.order}}] = string_y;
		string_x = "";
		string_y = "";
		//console.log(subTitle[{{lyric.order}}]);
	{% endfor %}
	firstScriptTag.parentNode.insertBefore(tag, firstScriptTag);
	  function onYouTubeIframeAPIReady() {
		player = new YT.Player('player', {
		  height: '350',
		  width: '100%',
		  videoId: youtube_id,
		  events: {
			'onReady': onPlayerReady,
			'onStateChange': onPlayerStateChange
		  }
		});
	  }
		function onPlayerReady(){
			setInterval(getPlayStatus,500); 
			document.getElementById("inform").innerHTML = "點擊下方功能鍵選擇開啟或關閉字幕欄";	
		}
      function onPlayerStateChange(event) {
        switch(event.data) {
          case 0: //影片結束
          	document.getElementById("inform").style.display = "block";
            document.getElementById("inform").innerHTML = "如果喜歡這個影片，可以按讚、訂閱或是在底下給評語喔!";
            break;
          case 1: //影片播放中
          	document.getElementById("inform").style.display = "none";
            break;
          case 2: //影片暫停
        }
      }		
		function playVideo(){
			player.playVideo();
		}
		function pauseVideo(){
			player.pauseVideo();
		}
		function replayVideo(){  
			player.seekTo(0);
			document.getElementById("cuewrap").innerHTML= "";
			document.getElementById("cuewrap_pinyin").innerHTML= "";
			document.getElementById("cuewrap_text").innerHTML= "";
			var pNum = document.getElementsByTagName("p");
			var subNum = document.getElementsByClassName("move");
			for(var i=0;i<subNum.length;i++){
				subNum[i].style.color = "black";  //右邊歌詞全黑
			}
			player.playVideo();	
		}
		function subtitle(order){
			document.getElementById("cuewrap").innerHTML = subTitle[order];
			document.getElementById("cuewrap_text").innerHTML = textArray[order];
			document.getElementById("cuewrap_pinyin").innerHTML = pinyinArray[order];
		} 
		//歌曲中間時間差>2秒沒有字幕時的處理
		var pNum = document.getElementsByTagName("p");
		var subNum = document.getElementsByClassName("move").length;
		var stArray = new Array();
		var etArray = new Array();
		var black_stArray = new Array();
		var black_etArray = new Array();
		var blackplace = 0;
		stArray[0] = 0;
		etArray[0] = 0;
		{% for lyric in lyrics %}
			stArray[{{lyric.order}}] = {{ lyric.start_time }};
			etArray[{{lyric.order}}] = {{ lyric.end_time }};
		{% endfor %}
		for(var i=1 ; i<=subNum ; i++){
			var x = stArray[i+1] - etArray[i];
			if( x > 2){
				black_stArray[blackplace] = etArray[i];
				black_etArray[blackplace] = stArray[i+1];
				blackplace++; 
			}
		}
		////////////////////////////////////////
		function getPlayStatus() {
			current_time = player.getCurrentTime().toFixed(2);
			all_time = player.getDuration().toFixed(2);
			//顯示當前影片時間
			document.getElementById('timer').innerHTML = current_time + '秒/'+ all_time +'秒';	
			{% for lyric in lyrics %}
				if((current_time >= {{ lyric.start_time }}) && (current_time < {{ lyric.end_time }})){
					var pNum = document.getElementsByTagName("p");
					var subNum = document.getElementsByClassName("move");
					for(var i=0;i<subNum.length;i++){
						subNum[i].style.color = "black";  //右邊歌詞全黑
					}
					document.getElementById("{{lyric.order}}").style.color = "blue"; //當前歌詞以藍色顯示	
					subtitle({{lyric.order}});
					currentOrder = {{lyric.order}};
					//console.log(currentOrder);
					if(({{lyric.order}}) && (mouse_enter==0)){
						document.getElementById("content").scrollTop = imgTop_Array[{{lyric.order}}];
					}	
				}
			{% endfor %}
			//如果兩字幕時間差>2則不顯示字幕
			for(var i=0; i<blackplace; i++){
				if((current_time > black_stArray[i]) && current_time < black_etArray[i]){
					document.getElementById("cuewrap").style.color = "black";
				}
			}
			//最後一句歌詞的結束時間後兩秒關掉字幕欄
			if(current_time > etArray[countSentence]+2){ 
				document.getElementById("cuewrap").style.display = "none";
				document.getElementById("cuewrap_pinyin").style.display = "none";
				document.getElementById("cuewrap_text").style.display = "none";
				document.getElementById(countSentence).style.color = "black"; //最後一句歌詞變回黑

			}
			//第一句歌詞前不顯示字幕，用變黑表示
			if(current_time < stArray[1]){
				document.getElementById("cuewrap").style.color = "black";
				document.getElementById("cuewrap_pinyin").style.color = "black";
				document.getElementById("cuewrap_text").style.color = "black";				
			}
			else{
				document.getElementById("cuewrap").style.color = "white";
				document.getElementById("cuewrap_pinyin").style.color = "white";
				document.getElementById("cuewrap_text").style.color = "white";	
			}

			//點選單句循環時的例外判斷
			if(circulateNum==1){
				if((current_time<stTime) || (current_time>etTime)){
					document.getElementById("circulate").click();			
				}
			}
		}

		//字幕mode
		function selectMode(){
			var x = document.getElementById("selectMode").value;
	        switch(x) {
	          case '1': 
	          		document.getElementById("cuewrap").style.display = "block";
					document.getElementById("cuewrap_pinyin").style.display = "none";
					document.getElementById("cuewrap_text").style.display = "none";			
		          	break;
	          case '2': 
	          		document.getElementById("cuewrap").style.display = "none";
					document.getElementById("cuewrap_pinyin").style.display = "block";
					document.getElementById("cuewrap_text").style.display = "none";	   
		          	break;
	          case '3': 
	         		//document.getElementById("cuewrap_text").style.color = "white";
	          		document.getElementById("cuewrap").style.display = "none";
					document.getElementById("cuewrap_pinyin").style.display = "none";
					document.getElementById("cuewrap_text").style.display = "block";	       	
			        break;
			  case '4':
					document.getElementById("cuewrap").style.display = "none";
					document.getElementById("cuewrap_pinyin").style.display = "none";
					document.getElementById("cuewrap_text").style.display = "none";	
					break;		  		
	          default:
	          	console.log("switch1");
	          	break;
	        }

		}
		//單句循環
		function circulate(){
			circulateNum = circulateNum==0?1:0;	
			if (circulateNum==0){
				document.getElementById("circulate").style.backgroundColor ="white";
				window.clearTimeout(timeout);//取消時間
				window.clearInterval(interval);
			}
			else{
				document.getElementById("circulate").style.backgroundColor ="gray";
				stTime = stArray[currentOrder];
				etTime = etArray[currentOrder];
				var firstTime = (etTime-current_time)*1000;
				var nextTime = (etTime-stTime)*1000; 

				timeout = setTimeout(function(){
					player.seekTo(stTime);
					interval = setInterval(function(){
						player.seekTo(stTime);
					}, nextTime);
				}, firstTime);	
			}
		}

	//global
	var mouse_enter = 0;
	$('#content').mouseenter(function(){
		mouse_enter = 1;
	});
	$('#content').mouseleave(function(){
		mouse_enter = 0;
		//setTimeout(function(){ mouse_enter=0; }, 500);
	});	
	//設定滾輪位置
	var imgTop_Array = new Array();
	var start_Array = new Array();
	{% for i in lyrics %}	
		imgTop_Array[{{i.order}}] = $("p#{{i.order}}").position().top - 240;
		start_Array[{{i.order}}] = {{i.start_time}};
	{% endfor %}

	$(document).ready(function() {
		$(".modify_text").mouseenter(function(){
		$(this).css("color","blue");
		});
		$(".modify_text").mouseleave(function(){
			$(this).css("color","#F8F8FF");
		});

		$('.move').click(function(){
			var get_imgID = $(this).attr('id');//等同於lyric.order
			var imgTop_position = imgTop_Array[get_imgID];
			$("#content").animate({
				scrollTop: imgTop_position
			} ,1500);
			player.seekTo(start_Array[get_imgID]);
			player.playVideo();	
		});	

		$(document).on('submit','#comment_form',function(e){
			e.preventDefault();
			$.ajax({
				type: 'POST',
				url: '/comment/{{song.songID}}/',
				data:{
					comment_id: $('#comment_id').val(),
				},
				success:function(data,xhr,status){
					//console.log(data); data為評論內容
					//取得使用者頭貼在前端加入一筆短暫留言，之後刷新頁面再交給資料庫取出
					{% for i in show_comments %}
						document.getElementById("ajax_post").innerHTML = 
						"<div>"+
								{% if comment_profile_imgs|get_item:i.user.username %}
									"<img src='/media/{{ comment_profile_imgs | get_item:i.user.username }}' style='width:36px; height: 36px'>"+
								{% else %}
									"<img src='{% static 'images/皮卡丘.jpg'%}' style='width:36px; height: 36px'>"+
								{% endif %}
							//<img src='/media/{{l.profileImg}}'style='width:36px; height: 36px'>"+
							"<strong><a href='/userinfo/{{ user }}'>{{ user | capfirst }}</a></strong>"+
						"</div>"+
						"<div style='padding: 0 40px 0 40px;'>"+data+"</div>"+
						"<span style='color: grey; font-size: 13px; padding-left: 40px;'>{{now}}</span>";
						var comment_length = {{ this_song_comments | length }} + 1;
						document.getElementById("comment_length").innerHTML = 
						"留言列表(" + comment_length +")";
						//console.log(xhr);
						//console.log(status);
					{% endfor %}

				},
				error:function(){
					console.log("error");
				},
			});
			return false;
		});

		$(document).on('submit','#modify_Text_Form',function(e){
			e.preventDefault();
			$.ajax({
				type: 'POST',
				url: '/modify_text/{{song.songID}}/',
				data:{
					mdf_pinyin: $('#mdf_pinyin').val(),
					mdf_text: $('#mdf_text').val(),
					mdf_order: $('#mdf_order').val()
				},
				success:function(data,xhr,status){
					//console.log(data.mdf_pinyin); //修改過的拼音
					//console.log(data.mdf_text);
					//console.log(data.mdf_order);
					var pinyin = data.mdf_pinyin;
					var text = data.mdf_text;
					var order = data.mdf_order;
					var find = '-';
					var find2 = '--';
					var pinyin_Array = new Array(); //台羅拼音
					var text_Array = new Array();   //台語字
					var record_Array = new Array(); //紀錄"-"數量 -> 讓台語字能夠依照台羅拼音隔開分布位置 2 1 2
					var translate_Array = new Array(); //2 1 2 -> 0 2 3 5陣列表示
					var tw_Array = new Array(); //紀錄新的台語字斷詞
					var check_num = 0; 
					var temp ="";
					var tempText = "";
					translate_Array[0] = 0;

					for(var i=0;i<pinyin.length;i++){
						var charCode = pinyin.charCodeAt(i);
						if(charCode == 12288){  //全形空白轉半形
							charCode = 32;
						}
						temp += String.fromCharCode(charCode);
					}					
					pinyin = temp;
					//刪除左右邊的空格
					pinyin = pinyin.trim();
					//刪除字串裡多餘空白及-
					pinyin = pinyin.replace(/\s(?=\s)/gi,"");//g表全局匹配，i表區分大小寫
					pinyin = pinyin.replace(/---+/g,"--");

					//切割台羅拼音
					pinyin_Array = pinyin.split(" ");
					for(var i=0;i<text.length;i++){
						var charCode = text.charCodeAt(i);
						 if(charCode < 0x4E00 || charCode > 0x9FA5){ //只顯示中文字,非中文字改半形空白,改NULL字數會減少
							charCode = 32;
						}
						tempText += String.fromCharCode(charCode);
					}
					text = tempText;
					//刪除台語字的所有空格
					text = text.replace(/\s+/g,"");
					//切割台語字
					text_Array = text.split("");
					var words = pinyin_Array.length;
					//console.log(words);
					var checksum = 0;
					for(var i=0;i<words;i++){
					  	var reg = new RegExp(find,"g"); //建立了一個正則表達式，計算-數量求出單句自數
					  	var reg2 = new RegExp(find2,"g");
					  	var c = pinyin_Array[i].match(reg); //c即要匹配的字符，其中g表示全局搜索。match則返回匹配的字符（串)
					  	var z = pinyin_Array[i].match(reg2);
					  	if(c){
					  		if(z) record_Array[i] = 1 + c.length - 1; //輕聲調--,須減掉1個
					  		else record_Array[i] = 1 + c.length;  //寂-寞 的 心-情 2 1 2
					  	} 
					  	else record_Array[i] = 1;//只有一個字，非詞 ex: 寂-寞 "的" 心-情
					  	checksum += record_Array[i];
					}
					var ruby_string="";	//裝載一句中每一個ruby的字詞		
					if( checksum == text_Array.length){ //檢查拼音和台語字數量是否一致，不一樣則不對齊
						for(var i=0;i<words;i++){
							translate_Array[i+1] = translate_Array[i] + record_Array[i];
							var string="";
							for(var j=translate_Array[i];j<translate_Array[i+1];j++){
								string += text_Array[j];
							} 
							tw_Array[i] = string;
							ruby_string +=  "<ruby style='font-size: 180%;'><rb>"+tw_Array[i]+"</rb><rt>"+pinyin_Array[i]+"</rt></ruby>&ensp;";
						}
					}
					else{
						ruby_string = "<ruby style='font-size: 150%;'><rb>"+text+"</rb><rt>"+pinyin+"</rt></ruby>&ensp;";
					}
					document.getElementById(order).innerHTML = ruby_string;
					document.getElementById("modify_area").style.display = "none";//關閉form	
					ruby_string="";
				},
				error:function(){
					//console.log("error");
					alert("必須是這首歌的創作者才能編輯喔!");
				},
			});
			return false;
		});

	});

	function modify_Text(getID){
		//console.log(getID);
		document.getElementById("modify_area").style.display = "block";
		document.getElementById("modify_area").innerHTML = "<form id='modify_Text_Form'>"+
							"<input id='mdf_pinyin' size='40' type='text' value='"+pinyinArray[getID]+"'>"+
							"<input id='mdf_text' size='40' type='text' value='"+textArray[getID]+"'>"+
							"<input hidden id='mdf_order' size='40' value='"+getID+"'>"+
							"<input type='submit' value='送出'>"+
							"<input type='button' onclick='cancel_modify()' value='取消'>"+
							"</form>";
								
	}
	function cancel_modify(){
		document.getElementById("modify_area").style.display = "none";	
	}
	function favorite()
	{
		var fav_btn = document.getElementById("fav-btn");
		var xmlhttp;
		
		if(window.XMLHttpRequest) // code for IE7+, Firefox, Chrome, Opera, Safari
			xmlhttp = new XMLHttpRequest();
		else // code for IE6, IE5
			xmlhttp = new ActiveXObject("Microsoft.XMLHTTP");
		
		xmlhttp.onreadystatechange = function()
		{
			if(xmlhttp.readyState==4 && xmlhttp.status==200)
			{
				if(xmlhttp.responseText == "1") {
					fav_btn.setAttribute("src", "{% static 'images/favorite-on.png' %}");
					isFavorite = true;
				}
				else {
					fav_btn.setAttribute("src", "{% static 'images/favorite-off.png' %}");
					isFavorite = false;
					
				}
					
			}
		}
		if(isFavorite)
			xmlhttp.open("GET", "/favorite/{{ song.songID }}/", true);			
		else
			xmlhttp.open("GET", "/favorite/{{ song.songID }}/", true);
		
		xmlhttp.send();
	}

	function like()
	{
		var like_btn = document.getElementById("like-btn");
		var xmlhttp;
		
		if(window.XMLHttpRequest) // code for IE7+, Firefox, Chrome, Opera, Safari
			xmlhttp = new XMLHttpRequest();
		else // code for IE6, IE5
			xmlhttp = new ActiveXObject("Microsoft.XMLHTTP");
		
		xmlhttp.onreadystatechange = function()
		{
			if(xmlhttp.readyState==4 && xmlhttp.status==200)
			{
				//更新最新按讚數
				var a = JSON.parse(xmlhttp.responseText);
				document.getElementById("rating").innerHTML = a.count_ratings;
				//console.log(a.count_ratings);
				if(a.isLike == "1") {
					//console.log(xmlhttp.responseText);
					like_btn.setAttribute("src", "{% static 'images/like-on.png' %}");
					isLike = true;
				}
				else {
					like_btn.setAttribute("src", "{% static 'images/like-off.png' %}");
					isLike = false;
				}
					
			}
		}
		if(isLike)
			xmlhttp.open("GET", "/like/{{ song.songID }}/", true);			
		else
			xmlhttp.open("GET", "/like/{{ song.songID }}/", true);
		
		xmlhttp.send();
	}	
	</script>

		
	{% endblock %}
